{% extends "::base.html.twig" %}

{% block title %}modulCRUDFrontendBundle:BusinessPartner:Partner{% endblock %}

{% block body %}
<div class="fullwidth-section" id="shortcodes">
<div class="container">
<div class="row" style="margin-bottom: 0px;">
<div class="col-md-8">
<h2 class="uppercase">Business Partners</h2>
<hr/>
</div>
</div>
	</div>	
	<!-- ======================================== -->
<!-- =========== START TEAM SECTION ============= -->
<!-- ======================================== -->
<section id="team">


<!-- Start Slider Team Display -->
<div class="fullwidth-section half-padding">
<div class="container">
    <div class="row">
		<div class="col-md-6">
		<!-- Start Member -->
		
			<div class="col-md-6">
				<div class="team-wrapper">
					<div class="team-img-wrapper">
								<a href="http://www.sap.com/index.html" target="_blank">
						<img alt="" src="{{ asset('img/sap.jpg') }}" class="img-responsive img-center">
								</a>
					</div>    
				</div>
			</div>
			<div class="col-md-6">
				<h4 class="weight-700">SAP</h4>
				As a SAP Partner we have implemented SAP Business One in more than 20 companies. We have team of qualified consultant not only to conduct implementation but also operation maintenance.
			</div>
		</div>    
		
		<div class="col-md-6">
		<!-- Start Member -->
			<div class="col-md-6">
				<div class="team-wrapper">
					<div class="team-img-wrapper">
						   <a href="http://www.mitsubishi-logistics.co.jp/english/index.html" target="_blank">
								<img alt="" src="{{ asset('img/Mitsubishi.png') }}" class="img-responsive img-center">
						   </a>
					</div>
				</div>
			</div>   
			<div class="col-md-6">
				<h4 class="weight-700">Mitsubishi Logistics</h4>
				Mitsubishi Logistics has become FACEBALI partner in keeping our tape back-up save and ready anytime it’s needed.
			</div>  
		</div>    
		
		<div class="col-md-6">
		<!-- Start Member -->
			<div class="col-md-6">
				<div class="team-wrapper">
					<div class="team-img-wrapper">
						<a href="http://cisco.com" target="_blank">
							<img alt="" src="{{ asset('img/cisco.jpg') }}" class="img-responsive img-center">
						</a>
					</div>
				</div>
			</div>      
			<div class="col-md-6">
				<h4 class="weight-700">CISCO</h4>
				FACEBALI is certified in CISCO CMSP (Cloud Managed Service Program) as an Advanced Partner in Internet Service. We also used CISCO device in our network &amp; communication service.
			</div>       
		</div>    
		<div class="col-md-6">
		<!-- Start Member -->
			<div class="col-md-6">
				<div class="team-wrapper">
					<div class="team-img-wrapper">
						<a href="https://www.supatools.com/" target="_blank">
							<img alt="" src="{{ asset('img/supa.png') }}" class="img-responsive img-center">
						</a>
					</div>      		    
				</div>
			</div>        
			<div class="col-md-6">
				<h4 class="weight-700">Supa CMDB</h4>
				Created by Tech Inventions Limited, SUPA CMDB is a Configuration Management Database FACEBALI used to manage the configuration information in our company.
			</div>     
		</div>
		
		<div class="col-md-6">
		<!-- Start Member -->
			<div class="col-md-6">
				<div class="team-wrapper">
					<div class="team-img-wrapper">
						<a href="www.tpics.co.jp" target="_blank">
							<img alt="" src="{{ asset('img/TPiCS.jpeg') }}"class="img-responsive img-center">
						</a>
					</div>	    
				</div>
			</div>
			<div class="col-md-6">
				<h4 class="weight-700">TPiCS</h4>
				TPiCS is a flexible MRP program created by TPiCS Laboratory Japan and currently FACEBALI is the only registered partner of TPiCS in Indonesia.
			</div>   
		</div>    
	</div>
</div>
</div>
<!-- End Slider Team Display -->
</section>
<!-- ======================================== -->
<!-- =========== END TEAM SECTION ============= -->
<!-- ======================================== -->
</div>
{% endblock %}
