{% extends "::base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h2>ABOUT FACEBALI | Company Profiles</h2>
   
<div class="row">
	<!-- Blog Posts Section -->
	<div class="col-md-9" >
	<!-- Blog Post -->
	<h3>ESTABLISHMENT &amp; GOALS</h3>
	<!-- Blog Post --><!-- Blog Post -->

	<div class="row">
		<div class="col-md-6">
			<div class="blog-img-wrapper">
				<img src="{{ asset('img/BEIT.jpg')}}" style="height:220px; width:380px"/>
			</div>
		</div>

		<div class="col-md-6">
			<p style="text-align:justify">PT&nbsp;FACEBALI, is an IT solution provider, founded in 1996, in Bogor-Indonesia, with more than 150 consultants involved in the relationship with the clients.</p>
			<p style="text-align:justify">FACEBALI&#39;s mission is to provide an appropriate IT solution to our clients, by using the 19&nbsp;years of experiences&nbsp;in IT industry, both for application and infrastructure area.</p>
			<p style="text-align:justify">This mission in coated with the wish to contribute to the development of Indonesian Information Technology environment.&nbsp;</p>
		</div>
	</div>
	<div class="row">&nbsp;</div>
	
	<div>
		<h3>QUALIFIED SERVICE MANAGEMENT</h3>
		<p style="text-align:justify">As a Service Provider, a reliable processes&nbsp; is one of our strength. In creating reliable processes, FACEBALI use an international standardization as a reference , and elaborate the processes under control of international certification. Currently, we are using ITSM standards (ISO 20000) as a control of our operation management processes and CMMI standards for our development processes.These set of processes is tailored into methodology that we used on carrying-out our services.&nbsp;&nbsp;</p>
		<div class="row" style="margin-bottom:20px">
			<div class="col-md-6">
				<h3><em>Project Methodology</em></h3>
			</div>
			<div class="col-md-6 text-right">
				<h3>
					<img src="{{ asset('img/logo_1.png') }}" style="height:90px; width:235px"/>
				</h3>
			</div>
		</div>

		<p><em><img src="{{ asset('img/BSI Project Methodology.jpg') }}" style="height:400px; width:759px"/></p>
		<p>&nbsp;</p>
		<div class="row" style="margin-bottom:20px">
			<div class="col-md-6">
				<h3><em>Service Management Methodology</em></h3>
			</div>
			<div class="col-md-6 text-right">
				<img src="{{ asset('img/logo_2.jpg') }}" style="height:90px; width:235px" />
			</div>
		</div>
		<p><em><img alt="" src="{{ asset('img/ServiceManagementMethodology.jpg') }}" style="height:337px; width:756px" /></em></p>
		<p>&nbsp;</p>
		<p>This methodology aim to help both of&nbsp;<strong>FACEBALI and the customers</strong>&nbsp;to&nbsp;<strong>control the quality of the deliverables, productivity</strong>&nbsp;and<strong>&nbsp;effectiveness</strong>&nbsp;of the service implementation and service management</p>
	</div>
		
	</div>

	<!-- Sidebar Section -->
	<div id="sidebar" class="col-md-3"  id="1005">
			<div id="categories">
	<h4>&nbsp;</h4>
	</div>

	</div>
	<!-- sidebar end -->

</div>

{% endblock %}
